/*
// CSS Strategy
// Inspired by http://engineering.appfolio.com/2012/11/16/css-architecture/

// 1. Use components eg- .component-name

// 2. Use subcomponents as new classes eg- .component-name__title

// 3. Distinguish between Style and Layout classes eg- .component-name and .l-component-name
//    **Layout classes begin with 'l'

*/

body {
  background-color: #e2e2e2;
  color: #5A5A5A;
}

.header {
  background: white;
  border-bottom: 1px solid #CACACA;
}

.l-title{
  padding: 0;
}

.full-border {
  border: 1px solid #CACACA;
}

.contact-item{
  background: #e2e2e2;
}

.l-contact-item{
  padding: 3px;
}

.contact-item__inner-content{
  border: 1px solid #CACACA;
  background: white;
}

.l-contact-item__inner-content{
  padding: 1em;
}

.l-contact-item__img-section{
  position: relative;
  width: 100%;
  height: 250px;
  margin-bottom: 45px;
}



.l-contact-item__img-section__profile-pic{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position-x: center;
  background-position-y: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

/*.l-contact-item__img-section__profile-pic img{
  width: 100%;
}*/

.contact-item__img-section__vendor-icon{
  border-radius: 100px;
}

.l-contact-item__img-section__vendor-icon{
  width: 75px;
  height: 75px;
  position: absolute;
  bottom: -36px;
  left: 25px;
}

.contact-item__info,
.contact-item__info span
{
  color: #5A5A5A;
  font-size: 12px;
}

.l-contact-item__info{
  margin-top: 35px;
  height: 5em;
}

.contact-item__info-name{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 3px;
}

.contact-item__job::after{
  content: ' | ';
}


.hover-content{
  opacity: 0;
  background-color: black;
  background-color: rgba(0,0,0, .75);
  color: white;
}

.hover-content:hover{
  opacity: 1;
}

.hover-content__info{
  color: white;
  padding: 0 2em;
}

.l-hover-content {

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;

  transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}


.similars{

}

.similars .content{

  background: white;
  border: 1px solid green;
  border-radius: 10px;
}

.similars .content.for{

}

.similars .content.against{

}


